@import "./Variable";

.Home {
    position: relative;
    background: $bg1;
    padding: 130px 0 0;
    margin-bottom: -1px;
    z-index: 2;

    .social_media {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;

        & > p {
            @include title($family:$branch-fam,$font:$subtitle_font,$l-height:23px);
            writing-mode: tb; 
            background-color: $prim_color;
            margin: 0;
            padding: 25px 10px;
        }

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background: $secendary_color;
            width: 44px;
            height: 230px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: #fff;
                    transition: all 0.4s ease-in-out;

                    i {
                        font-size: 20px;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        border-radius: 100%;
                    }

                    &:hover .fa-discord {
                        color: $discord;
                        background-color: #fff;
                    }

                    &:hover .fa-instagram{
                        color: #fff;
                        background: $insta;
                    }

                    &:hover .fa-telegram-plane {
                        color: #fff;
                        background-color: $telegram;
                    }

                    &:hover .fa-facebook-f {
                        color: #fff;
                        background-color: $fb;
                    }

                    &:hover .fa-linkedin-in {
                        color: #fff;
                        background-color: $l-din;
                    }
                    
                }
            }
        }
    }
    article {
        position: relative;
        padding: 0 0 10%;

        .left_article {
            figure {
                display: inline-block;
                position: relative;
                margin-bottom: 0;
        
                & > img {                
                    position: absolute;
                    top: 2%;
                    left: 51%;
                    width: 92%;
                    height: 75%;
                    transform: translateX(-50%);
                }
        
                .banner_img {
        
                    img {
                        background: url(<path-to-image>), lightgray -88.561px -36.814px / 209.086% 105.853% no-repeat;
                        mix-blend-mode: luminosity;
                        width: 477px;
                        height: 629px;
                        position: relative;
                        z-index: 1;
                    }
                }
                .icon {
                    i {
                        width: 45px;
                        height: 45px;
                        font-size: 43px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                        &:nth-child(1) {
                            @include icon($top:30%,$lft:-5%,$icon_clr:$html);
                        }
            
                        &:nth-child(2) {
                            @include icon($top:-10%,$lft:35%,$icon_clr:$css);
                        }
            
                        &:nth-child(3) {
                            @include icon($top:-10%,$rit:-10%,$icon_clr:$js);
                        }
            
                        &:nth-child(4){
                            @include icon($top:7%,$rit:10%,$icon_clr:$sass);
                            transform: rotate(23deg);
                            font-size: 30px;
                        }
                    }
                    img {
                        &:nth-child(5) {
                           position: absolute;
                           top: 20%;
                           right: -5%;
                           width: 45px; 
                           height: 45px; 
                           z-index: 1;
                        }
            
                        &:nth-child(6) {
                            position: absolute;
                            top: 7%;
                            left: 10%;
                            width: 45px; 
                            height: 45px; 
                            transform: rotate(340deg);
                            z-index: 1;
                        }
            
                        &:nth-child(7) {
                            position: absolute;
                            top: -15%;
                            right: 15%;
                            width: 7px;
                            height: 154px;
                            transform: rotate(1deg);
                            z-index: 0;
                        }
            
                        &:nth-child(8) {
                            position: absolute;
                            bottom: -5%;
                            right: -8%;
                            width: 138px;
                            height: 144px;
                            z-index: 0;
                        }
        
                        &:nth-child(9) {
                            position: absolute;
                            top: 50%;
                            right: -23%;
                            transform: translateY(-50%);
                            width: 138px;
                            height: 144px;
                            z-index: 0;
                        }
                    }
                }
            }
        }
        .right_article {
            header {
                position: relative;
                margin-bottom: 32px;
    
                h1 {
                    @include title($font:$title_font,$l-height:126px);
                }
                img {
                    &:nth-child(2){
                        position: absolute;
                        width: 10px;
                        height: 200px;
                        transform: rotate(90deg);
                        transform-origin: 100% 100%;
                        bottom:10%;
                        left: 0;
                    }
    
                    &:nth-child(3) {
                        position: absolute;
                        width: 95.705px;
                        height: 93px;
                        right: -11%;
                        top: 10%;
                    }
                }
            }
            figure {
                p {
                    @include title($family:$branch-fam,$font:$subtitle_font,$l-height:33px);
                    color: $secendary_color;
                    margin-bottom: 36px
                }
                button {
                    @include button();
                }
            }
        }
    }
    .dashboard {
        position: absolute;
        z-index: 1;
        bottom: 0%;
        left: 0;
        transform: translateY(45%);
        background: $bg3;
        width: 100%;
        height: 220px;
        display: flex;
        align-items: center;

        .dashboard_item {
            width: 100%;
            .dashboard_icon {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                img {
                    width: 70px;
                    height: 70px;
                }
                h1 {
                    color: #fff;
                    font-family: $branch-fam;
                    font-size: $board_font;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;
                }
                h2 {
                    color: #fff;
                    font-family: $branch-fam;
                    font-size: $h2_font;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;
                }
            }
        }

    }
}