@import "./Variable";

nav {
    padding: 39px 0!important;
    background: $bg1;

    .navbar-brand {
        margin: 0 !important;
        h1 {
            @include title($font:$nav_logo_font,$l-height:35px);
            color: $secendary_color;
            span {
                color: $prim_color;
            }
        }
    }

    .navbar-nav  {
        .nav-item {
            padding: 0 50px;

            .nav-link {
                @include title($family:$branch-fam,$font:$nav_item_font,$l-height:31px);
                color: $secendary_color;

                &:hover {
                    font-weight: 600;
                }
            }
        }
    }

    button {
        @include button();
    }
}