@import "./Variable";

.Service {
    background: $bg2;
    padding: 10% 0 5%;
    position: relative;

    & > img {
        @include wave($rit:10%,$tp:-10%,$rot:0deg,$x:0%,$y:0%,$tp_child:-10%,$rit_child:10.2%,$x1:0,$y1:0);
    }

    .left_article {
        header {
            h1 {
                @include title($font:$h1_font,$l-height:72px);
                margin-bottom: 5px;
            }
        }
        figure {
            margin-bottom: 0;
            p {
                @include title($family:$branch-fam,$font:$h2p_font,$l-height:28px);
                color: $secendary_color;
                margin-bottom: 20px;
                padding-right: 23%;
            }

            button {
                @include button($button_font_sm,33px, 12px 55px);
                @include btn_animation();
            }
        }
    }
    .right_article {
        
        .area {
            position: relative;

            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 2px;
                height: 75%;
                background-color: $prim_color;
            }

            

            .web {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: $prim_color;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }

                &:nth-child(even)::after {
                    position: absolute;
                    content: "";    
                    width: 16px;
                    height: 16px;
                    border-top: 3px solid $prim_color;
                    border-left: 3px solid $prim_color;                    
                    top: 50%;
                    left: -8%;
                    transform: rotate(324deg) translateY(-50%);
                }

                &:nth-child(even)::before {
                    position: absolute;
                    content: "";    
                    width: 100%;
                    height: 2px;
                    border-top: 3px solid $prim_color;
                    border-left: 3px solid $prim_color;                    
                    top: 50%;
                    left: -9%;
                    border-radius: 3px;
                }

                &:nth-child(even) figure {
                    background-color: $bg3;
                }

                figure {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    position: relative;
                    margin-left: auto;
                    background-color: $prim_color;
                    width: 65%;
                    height: 90px;
                    margin-bottom: 32px;

                    
    
                    img {
                        width: 40px;
                        height: 40px;
                        margin: 0 50px;
                    }
                    
                    h2 {
                        margin-bottom: 0;
                        color: #fff;
                        font-family: $branch-fam;
                        font-size: $board_font;
                        line-height: 40px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}