// color
$bg1: #000f17;
$bg2: #002531;
$bg3: #819098;
$prim_color: #ee7a12;
$secendary_color: #999;
$discord: #5562ea;
$insta: linear-gradient(to bottom, #aa2fb5 0%, $prim_color 93%);
$org_circle: radial-gradient(
  $secendary_color 0%,
  $secendary_color 40%,
  transparent 42%,
  transparent 100%
);
$dotted_line: repeating-linear-gradient(
  $secendary_color,
  $secendary_color 15px,
  transparent 15px,
  transparent 25px
);
$telegram: #27a3e2;
$fb: #27a3e2;
$l-din: #0077b5;
$html: #e5532d;
$css: #2899f3;
$js: #ffe008;
$sass: #ce6b9c;

// font size
$nav_logo_font: 35px;
$nav_item_font: 21px;
$title_font: 90px;
$subtitle_font: 22px;
$h1_font: 60px;
$h1_font_xl: 70px;
$h1p_font: 19px;
$h2_font: 35px;
$h2p_font: 15px;
$button_font: 26px;
$button_font_sm: 22px;
$board_font: 40px;

// family
$prime-fam: "bon_foyage_demo";
$branch-fam: "Cabin", sans-serif;

// mixin
@mixin title($family: $prime-fam, $font: $h1_font, $l-height: 72px) {
  font-family: $family;
  color: #fff;
  font-size: $font;
  font-style: normal;
  font-weight: 400;
  line-height: $l-height;
  margin-bottom: 0;
}

@mixin button($font: $button_font, $l_height: 39px, $pad: 10px 35px) {
  font-family: $branch-fam;
  border: none;
  background-color: $prim_color;
  padding: $pad;
  font-size: $font;
  color: #fff;
  font-weight: 700;
  line-height: $l_height;
}

@mixin icon ($top: inherit,$lft: inherit,$rit: inherit,$btm: inherit,$icon_bg: $bg1,$icon_clr: #fff) {
  position: absolute;
  z-index: 1;
  top: $top;
  left: $lft;
  right: $rit;
  bottom: $btm;
  background: $icon_bg;
  color: $icon_clr;
  @if $icon_clr == $html {
    border: 2px solid $html;
  } @else if $icon_clr == $css {
    border: 2px solid $css;
  } @else if $icon_clr == $js {
    border: 2px solid $js;
  } @else if $icon_clr == $sass {
    border: 2px solid $sass;
  }
}

@mixin wave ($tp:inherit,$rit:inherit,$lft:inherit,$btom:inherit,$rot:1deg,$x:0,$y:0,$tp_child:inherit,$rit_child:inherit,$lft_child:inherit,$btom_child:inherit,$x1:100%,$y1:100%){
  position: absolute;
  top: $tp;
  right: $rit;
  bottom: $btom;
  left: $lft;
  width: 7px;
  height: 154px;
  transform: translate($x,$y) rotate($rot);
  transform-origin: $x1 $y1;
  
   &:nth-child(2) {
    top: $tp_child;
    right: $rit_child;
    bottom: $btom_child;
    left: $lft_child;
  }
}
