@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
nav {
  padding: 39px 0 !important;
  background: #000f17;
  margin-bottom: -1px;
  transition: padding 0.2s ease-in-out;
}
nav .navbar-brand {
  margin: 0 !important;
}
nav .navbar-brand h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 0;
  color: #999;
}
nav .navbar-brand h1 span {
  color: #ee7a12;
}
nav .navbar-nav .nav-item {
  padding: 0 30px;
}
nav .navbar-nav .nav-item .nav-link {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 0;
  color: #999;
  transition: all 0.2s ease-in-out;
}
nav .navbar-nav .nav-item .nav-link::before {
  display: block;
  content: attr(data-title);
  font-weight: 600;
  font-size: 24px;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
nav .navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
  font-size: 22px;
}
nav .navbar-nav .nav-item .nav-link.active,
nav .navbar-nav .nav-item .navbar-nav .nav-link.show {
  color: #ee7a12;
}
nav button {
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 10px 35px;
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  line-height: 39px;
}

.sticky {
  position: fixed !important;
  width: 100%;
  left: 0;
  z-index: 100;
  top: 0;
  background-color: #000f17;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 35px 0 !important;
}

.Home {
  position: relative;
  background: #000f17;
  padding: 130px 0 0;
  margin-bottom: -1px;
  z-index: 2;
}
.Home .social_media {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home .social_media > p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 0;
  writing-mode: tb;
  background-color: #ee7a12;
  margin: 0;
  padding: 25px 10px;
}
.Home .social_media ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #999;
  width: 44px;
  height: 230px;
}
.Home .social_media ul li {
  list-style: none;
}
.Home .social_media ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.Home .social_media ul li a i {
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 100%;
}
.Home .social_media ul li a:hover .fa-discord {
  color: #5562ea;
  background-color: #fff;
}
.Home .social_media ul li a:hover .fa-instagram {
  color: #fff;
  background: linear-gradient(to bottom, #aa2fb5 0%, #ee7a12 93%);
}
.Home .social_media ul li a:hover .fa-telegram-plane {
  color: #fff;
  background-color: #27a3e2;
}
.Home .social_media ul li a:hover .fa-facebook-f {
  color: #fff;
  background-color: #27a3e2;
}
.Home .social_media ul li a:hover .fa-linkedin-in {
  color: #fff;
  background-color: #0077b5;
}
.Home article {
  position: relative;
  padding: 0 0 10%;
}
.Home article .left_article figure {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}
.Home article .left_article figure > img {
  position: absolute;
  top: 2%;
  left: 51%;
  width: 92%;
  height: 75%;
  transform: translateX(-50%);
}
.Home article .left_article figure .banner_img img {
  background: url(<path-to-image>), lightgray -88.561px -36.814px/209.086% 105.853% no-repeat;
  mix-blend-mode: luminosity;
  width: 477px;
  height: 629px;
  position: relative;
  z-index: 1;
}
.Home article .left_article figure .icon i {
  width: 45px;
  height: 45px;
  font-size: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home article .left_article figure .icon i:nth-child(1) {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: -5%;
  right: inherit;
  bottom: inherit;
  background: #000f17;
  color: #e5532d;
  border: 2px solid #e5532d;
}
.Home article .left_article figure .icon i:nth-child(2) {
  position: absolute;
  z-index: 1;
  top: -10%;
  left: 35%;
  right: inherit;
  bottom: inherit;
  background: #000f17;
  color: #2899f3;
  border: 2px solid #2899f3;
}
.Home article .left_article figure .icon i:nth-child(3) {
  position: absolute;
  z-index: 1;
  top: -10%;
  left: inherit;
  right: -10%;
  bottom: inherit;
  background: #000f17;
  color: #ffe008;
  border: 2px solid #ffe008;
}
.Home article .left_article figure .icon i:nth-child(4) {
  position: absolute;
  z-index: 1;
  top: 7%;
  left: inherit;
  right: 10%;
  bottom: inherit;
  background: #000f17;
  color: #ce6b9c;
  border: 2px solid #ce6b9c;
  transform: rotate(23deg);
  font-size: 30px;
}
.Home article .left_article figure .icon img:nth-child(5) {
  position: absolute;
  top: 20%;
  right: -5%;
  width: 45px;
  height: 45px;
  z-index: 1;
}
.Home article .left_article figure .icon img:nth-child(6) {
  position: absolute;
  top: 7%;
  left: 10%;
  width: 45px;
  height: 45px;
  transform: rotate(340deg);
  z-index: 1;
}
.Home article .left_article figure .icon img:nth-child(7) {
  position: absolute;
  top: -15%;
  right: 15%;
  width: 7px;
  height: 154px;
  transform: rotate(1deg);
  z-index: 0;
}
.Home article .left_article figure .icon img:nth-child(8) {
  position: absolute;
  bottom: -5%;
  right: -8%;
  width: 138px;
  height: 144px;
  z-index: 0;
}
.Home article .left_article figure .icon img:nth-child(9) {
  position: absolute;
  top: 50%;
  right: -23%;
  transform: translateY(-50%);
  width: 138px;
  height: 144px;
  z-index: 0;
}
.Home article .right_article header {
  position: relative;
  margin-bottom: 32px;
}
.Home article .right_article header h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 126px;
  margin-bottom: 0;
}
.Home article .right_article header h2 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 126px;
  margin-bottom: 0;
}
.Home article .right_article header img:nth-child(3) {
  position: absolute;
  width: 10px;
  height: 200px;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
  bottom: 10%;
  left: 0;
}
.Home article .right_article header img:nth-child(4) {
  position: absolute;
  width: 95.705px;
  height: 93px;
  right: 0%;
  top: 15%;
  z-index: -1;
}
.Home article .right_article figure p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 0;
  color: #999;
  margin-bottom: 36px;
}
.Home article .right_article figure button {
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 10px 35px;
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  line-height: 39px;
  position: relative;
}
.Home article .right_article figure button::before {
  display: none;
  opacity: 0;
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgba(238, 122, 18, 0.73);
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%) perspective(2em) rotateX(50deg) scale(1.6, 1);
  filter: blur(10px);
  transition: all 0.2s cubic-bezier(0.57, 0.26, 0.84, 1.35);
}
.Home article .right_article figure button:hover::before {
  display: block;
  opacity: 1;
}
.Home .dashboard {
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 0;
  transform: translateY(45%);
  background: #819098;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
}
.Home .dashboard .dashboard_item {
  width: 100%;
}
.Home .dashboard .dashboard_item .dashboard_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Home .dashboard .dashboard_item .dashboard_icon img {
  width: 70px;
  height: 70px;
}
.Home .dashboard .dashboard_item .dashboard_icon h1 {
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
.Home .dashboard .dashboard_item .dashboard_icon h2 {
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.Service {
  background: #002531;
  padding: 10% 0 5%;
  position: relative;
}
.Service > img {
  position: absolute;
  top: -10%;
  right: 10%;
  bottom: inherit;
  left: inherit;
  width: 7px;
  height: 154px;
  transform: translate(0%, 0%) rotate(0deg);
  transform-origin: 0 0;
}
.Service > img:nth-child(2) {
  top: -10%;
  right: 10.2%;
  bottom: inherit;
  left: inherit;
}
.Service .left_article header h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 0;
  margin-bottom: 5px;
}
.Service .left_article figure {
  margin-bottom: 0;
}
.Service .left_article figure p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  color: #999;
  margin-bottom: 20px;
  padding-right: 23%;
}
.Service .left_article figure button {
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 12px 55px;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  line-height: 33px;
  position: relative;
}
.Service .left_article figure button::before {
  display: none;
  opacity: 0;
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgba(238, 122, 18, 0.73);
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%) perspective(2em) rotateX(50deg) scale(1.6, 1);
  filter: blur(10px);
  transition: all 0.2s cubic-bezier(0.57, 0.26, 0.84, 1.35);
}
.Service .left_article figure button:hover::before {
  display: block;
  opacity: 1;
}
.Service .right_article .area {
  position: relative;
}
.Service .right_article .area::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 75%;
  background-color: #ee7a12;
}
.Service .right_article .area .web {
  position: relative;
}
.Service .right_article .area .web::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ee7a12;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.Service .right_article .area .web:nth-child(even)::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-top: 3px solid #ee7a12;
  border-left: 3px solid #ee7a12;
  top: 50%;
  left: -8%;
  transform: rotate(324deg) translateY(-50%);
}
.Service .right_article .area .web:nth-child(even)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  border-top: 3px solid #ee7a12;
  border-left: 3px solid #ee7a12;
  top: 50%;
  left: -9%;
  border-radius: 3px;
}
.Service .right_article .area .web:nth-child(even) figure {
  background-color: #819098;
}
.Service .right_article .area .web figure {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  margin-left: auto;
  background-color: #ee7a12;
  width: 65%;
  height: 90px;
  margin-bottom: 32px;
}
.Service .right_article .area .web figure img {
  width: 40px;
  height: 40px;
  margin: 0 50px;
}
.Service .right_article .area .web figure h2 {
  margin-bottom: 0;
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}

.Service2 {
  background: #000f17;
  position: relative;
  padding: 0 0 2%;
  margin-bottom: -1px;
  z-index: 2;
}
.Service2 > img {
  position: absolute;
  top: 50%;
  right: inherit;
  bottom: inherit;
  left: -1%;
  width: 7px;
  height: 154px;
  transform: translate(0, -50%) rotate(90deg);
  transform-origin: 100% 100%;
}
.Service2 > img:nth-child(2) {
  top: 50.5%;
  right: inherit;
  bottom: inherit;
  left: -1%;
}
.Service2 header {
  padding-top: 6%;
  text-align: center;
}
.Service2 header h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 0;
}
.Service2 header P {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  color: #999;
  padding: 0 28%;
  margin-bottom: 7%;
}
.Service2 figure {
  position: relative;
}
.Service2 figure::before {
  content: "";
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -7%);
  width: 2px;
  height: 70%;
  background: repeating-linear-gradient(#999, #999 15px, transparent 15px, transparent 25px);
}
.Service2 figure .figure_left {
  text-align: end;
}
.Service2 figure .figure_left .experience {
  padding-right: 18%;
  position: relative;
  height: 200px;
}
.Service2 figure .figure_left .experience::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 4px dashed #999;
  top: 0%;
  right: 0;
  transform: translate(50%, 0%);
  background: radial-gradient(#999 0%, #999 40%, transparent 42%, transparent 100%);
}
.Service2 figure .figure_left .experience h2 {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 0;
  margin-bottom: 8px;
}
.Service2 figure .figure_left .experience p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
  color: #999;
}
.Service2 figure .figure_right {
  text-align: start;
}
.Service2 figure .figure_right .experience {
  padding-left: 18%;
  padding-right: 0;
  position: relative;
}
.Service2 figure .figure_right .experience p {
  padding: 0 40% 0 0px;
}
.Service2 figure .figure_right .experience::before {
  content: "";
  position: absolute;
  display: none;
}
.Service2 figure .figure_right .experience::after {
  content: "";
  position: absolute;
  display: none;
}

.Portfolio {
  position: relative;
  background: #819098;
  margin-bottom: -1px;
  padding: 6% 0 6%;
  z-index: 4;
}
.Portfolio > img {
  position: absolute;
  top: -10%;
  right: 10%;
  bottom: inherit;
  left: inherit;
  width: 7px;
  height: 154px;
  transform: translate(0%, 10%) rotate(0deg);
  transform-origin: 100% 100%;
  filter: contrast(5.5);
}
.Portfolio > img:nth-child(2) {
  top: -10%;
  right: 10.2%;
  bottom: inherit;
  left: inherit;
}
.Portfolio header {
  padding-bottom: 5%;
}
.Portfolio header .title {
  position: relative;
}
.Portfolio header .title h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 84px;
  margin-bottom: 0;
}
.Portfolio header .title p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  padding-right: 25%;
}
.Portfolio header .title img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -40%) rotate(0deg);
  z-index: -1;
  filter: contrast(5.5);
}
.Portfolio header .githubLink {
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  line-height: 34px;
  background-color: transparent;
  display: flex;
  justify-content: end;
  align-items: center;
}
.Portfolio header .githubLink a {
  text-decoration: none;
  color: #002531;
}
.Portfolio header .githubLink a span {
  color: #ee7a12;
}
.Portfolio header .githubLink i {
  color: #ee7a12;
  padding-left: 20px;
}
.Portfolio figure .firgure_up {
  padding-bottom: 24px;
}
.Portfolio figure .firgure_up .overlay {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.Portfolio figure .firgure_up .overlay .item {
  position: relative;
}
.Portfolio figure .firgure_up .overlay .item img {
  transition: all 0.2s linear;
}
.Portfolio figure .firgure_up .overlay .item figure {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  display: none;
  z-index: 2;
}
.Portfolio figure .firgure_up .overlay .item figure h2 {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 0;
  color: #ee7a12;
  margin-bottom: 36px;
  font-weight: 700;
}
.Portfolio figure .firgure_up .overlay .item figure button {
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 12px 22px;
  font-size: 19px;
  color: #fff;
  font-weight: 700;
  line-height: 33px;
  background-color: transparent;
  border: 2px solid #999;
}
.Portfolio figure .firgure_up .overlay::before {
  display: none;
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.Portfolio figure .firgure_up .overlay:hover figure {
  display: block;
}
.Portfolio figure .firgure_up .overlay:hover img {
  filter: blur(5px);
  scale: 1.1;
}
.Portfolio figure .firgure_up .overlay:hover::before {
  display: block;
}

.About {
  position: relative;
  background: #002531;
  margin-bottom: -1px;
  padding: 9% 0 7%;
  z-index: 3;
}
.About > img {
  position: absolute;
  top: -10%;
  right: inherit;
  bottom: inherit;
  left: 10%;
  width: 7px;
  height: 154px;
  transform: translate(-10%, 0%) rotate(0deg);
  transform-origin: 100% 100%;
}
.About > img:nth-child(2) {
  top: -10%;
  right: inherit;
  bottom: inherit;
  left: 10.2%;
}
.About .left_figure header {
  position: relative;
}
.About .left_figure header h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 84px;
  margin-bottom: 0;
  padding-right: 22%;
}
.About .left_figure header img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(180deg);
  z-index: -1;
  filter: brightness(1.4);
}
.About .left_figure figure p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  color: #999;
  margin-bottom: 6%;
}
.About .left_figure figure button {
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 12px 55px;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  line-height: 33px;
  position: relative;
}
.About .left_figure figure button::before {
  display: none;
  opacity: 0;
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgba(238, 122, 18, 0.73);
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%) perspective(2em) rotateX(50deg) scale(1.6, 1);
  filter: blur(10px);
  transition: all 0.2s cubic-bezier(0.57, 0.26, 0.84, 1.35);
}
.About .left_figure figure button:hover::before {
  display: block;
  opacity: 1;
}
.About .right_figure figure {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 0;
  position: relative;
}
.About .right_figure figure > img {
  width: 470px;
  height: 601px;
  mix-blend-mode: luminosity;
}
.About .right_figure figure > img:nth-child(even) {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40%;
  mix-blend-mode: color;
}
.About .right_figure figure .icon img:nth-child(1) {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(0%, -50%);
  width: 138px;
  height: 144px;
  z-index: -1;
}
.About .right_figure figure .icon img:nth-child(2) {
  position: absolute;
  bottom: -5%;
  right: -8%;
  width: 138px;
  height: 144px;
  z-index: -1;
}

.Blog {
  position: relative;
  background: #000f17;
  margin-bottom: -1px;
  padding: 3% 0 3%;
  z-index: 4;
}
.Blog > img {
  position: absolute;
  top: -10%;
  right: 10%;
  bottom: inherit;
  left: inherit;
  width: 7px;
  height: 154px;
  transform: translate(-10%, 0%) rotate(0deg);
  transform-origin: 100% 100%;
}
.Blog > img:nth-child(2) {
  top: -10%;
  right: 10.2%;
  bottom: inherit;
  left: inherit;
}
.Blog header h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 84px;
  margin-bottom: 0;
  text-align: center;
}
.Blog header p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  color: #999;
  text-align: center;
  margin-bottom: 4%;
  padding: 0 30% 0;
}
.Blog figure {
  margin-bottom: 0;
}
.Blog figure .figure_title {
  margin-top: 12px;
}
.Blog figure .figure_title span {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
  color: #819098;
}
.Blog figure .figure_title h2 {
  margin-top: 12px;
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 0;
  font-weight: 500;
  transition: all 0.2s linear;
}
.Blog figure .figure_title > p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
  color: #819098;
  margin-bottom: 36px;
  padding-right: 36px;
}
.Blog figure .figure_title .read_link {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 0px;
  font-size: 19px;
  color: #fff;
  font-weight: 700;
  line-height: 30px;
  background-color: transparent;
}
.Blog figure .figure_title .read_link a {
  text-decoration: none;
  transition: all 0.2s linear;
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
  padding-right: 15px;
}
.Blog figure .figure_title .read_link i {
  color: #fff;
  transition: all 0.2s linear;
}
.Blog figure:hover .figure_title h2 {
  color: #ee7a12;
}
.Blog figure:hover .figure_title .read_link a {
  color: #ee7a12;
}
.Blog figure:hover .figure_title .read_link i {
  color: #ee7a12;
}
.Blog .down_wave {
  text-align: center;
  padding: 3% 0 0;
}
.Blog .down_wave img {
  position: absolute;
  top: inherit;
  right: 0%;
  bottom: -15%;
  left: inherit;
  width: 7px;
  height: 154px;
  transform: translate(0%, 0%) rotate(90deg);
  transform-origin: 0% 0%;
}
.Blog .down_wave img:nth-child(2) {
  top: inherit;
  right: 0%;
  bottom: -14.3%;
  left: inherit;
}
.Blog .down_wave button {
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 12px 55px;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  line-height: 33px;
  position: relative;
}
.Blog .down_wave button::before {
  display: none;
  opacity: 0;
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgba(238, 122, 18, 0.73);
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%) perspective(2em) rotateX(50deg) scale(1.6, 1);
  filter: blur(10px);
  transition: all 0.2s cubic-bezier(0.57, 0.26, 0.84, 1.35);
}
.Blog .down_wave button:hover::before {
  display: block;
  opacity: 1;
}

.Contact {
  position: relative;
  background: #002531;
  margin-bottom: -1px;
  padding: 6% 0 6%;
  z-index: 4;
}
.Contact > img {
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: -10%;
  left: 10%;
  width: 7px;
  height: 154px;
  transform: translate(-10%, 0%) rotate(0deg);
  transform-origin: 100% 100%;
}
.Contact > img:nth-child(2) {
  top: inherit;
  right: inherit;
  bottom: -10%;
  left: 10.2%;
}
.Contact article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contact article figure {
  text-align: center;
  background: #819098;
  margin-bottom: 0;
  padding: 4% 11%;
}
.Contact article figure h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 84px;
  margin-bottom: 0;
  text-align: center;
}
.Contact article figure p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  color: #D0D0D0;
  padding: 0 16% 5%;
}
.Contact article figure form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contact article figure form input {
  border: none;
  background-color: #B7B7B7;
  height: 50px;
}
.Contact article figure form input:focus-visible {
  outline: 0px;
  box-shadow: none;
}
.Contact article figure form input::-moz-placeholder {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  color: #002531;
}
.Contact article figure form input::placeholder {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  color: #002531;
}
.Contact article figure form input[type=email] {
  padding: 13px 224px 13px 50px;
}
.Contact article figure form input[type=submit] {
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 8px 52px;
  font-size: 19px;
  color: #fff;
  font-weight: 700;
  line-height: 30px;
}

footer {
  position: relative;
  background: #000f17;
  padding: 130px 0 0;
  margin-bottom: -1px;
  z-index: 2;
}
footer article > nav .logo a {
  text-decoration: none;
}
footer article > nav .logo a h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 0;
  color: #999;
}
footer article > nav .logo a h1 span {
  color: #ee7a12;
  position: relative;
}
footer article > nav .logo a h1 span > img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -40%) rotate(180deg);
  z-index: 2;
}
footer article > nav .ul_item ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
footer article > nav .ul_item ul li {
  padding-left: 30px;
  list-style: none;
}
footer article > nav .ul_item ul li a {
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 0;
  color: #999;
  transition: all 0.2s ease-in-out;
}
footer article > nav .ul_item ul li a::before {
  display: block;
  content: attr(data-footer);
  font-weight: 600;
  font-size: 24px;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
footer article > nav .ul_item ul li a:hover {
  font-weight: 600;
  font-size: 22px;
}
footer article figure {
  margin-bottom: 0;
}
footer article figure .figure_left p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  color: #999;
  padding-right: 30%;
}
footer article figure .figure_right {
  display: flex;
  align-items: center;
  justify-content: end;
}
footer article figure .figure_right ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer article figure .figure_right ul li {
  list-style: none;
  padding-left: 30px;
}
footer article figure .figure_right ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
footer article figure .figure_right ul li a i {
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 100%;
}
footer article figure .figure_right ul li a:hover .fa-discord {
  color: #5562ea;
  background-color: #fff;
}
footer article figure .figure_right ul li a:hover .fa-instagram {
  color: #fff;
  background: linear-gradient(to bottom, #aa2fb5 0%, #ee7a12 93%);
}
footer article figure .figure_right ul li a:hover .fa-telegram-plane {
  color: #fff;
  background-color: #27a3e2;
}
footer article figure .figure_right ul li a:hover .fa-facebook-f {
  color: #fff;
  background-color: #27a3e2;
}
footer article figure .figure_right ul li a:hover .fa-linkedin-in {
  color: #fff;
  background-color: #0077b5;
}
footer article figure .copywright {
  text-align: center;
}
footer article figure .copywright p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  color: #999;
  padding: 4% 0 1%;
  letter-spacing: 0.26px;
}

html {
  scroll-padding-top: 90px;
}/*# sourceMappingURL=style.css.map */