@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
nav {
  padding: 39px 0 !important;
  background: #000f17;
}
nav .navbar-brand {
  margin: 0 !important;
}
nav .navbar-brand h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 0;
  color: #999;
}
nav .navbar-brand h1 span {
  color: #ee7a12;
}
nav .navbar-nav .nav-item {
  padding: 0 30px;
}
nav .navbar-nav .nav-item .nav-link {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 0;
  color: #999;
  transition: all 0.2s ease-in-out;
}
nav .navbar-nav .nav-item .nav-link::before {
  display: block;
  content: attr(title);
  font-weight: 600;
  font-size: 24px;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
nav .navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
  font-size: 24px;
}
nav .navbar-nav .nav-item .nav-link.active,
nav .navbar-nav .nav-item .navbar-nav .nav-link.show {
  color: #ee7a12;
}
nav button {
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 10px 35px;
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  line-height: 39px;
}

.sticky {
  position: fixed !important;
  width: 100%;
  left: 0;
  z-index: 100;
  top: 0;
  background-color: #000f17;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.Home {
  position: relative;
  background: #000f17;
  padding: 130px 0 0;
  z-index: 2;
}
.Home .social_media {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home .social_media > p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 0;
  writing-mode: tb;
  background-color: #ee7a12;
  margin: 0;
  padding: 25px 10px;
}
.Home .social_media ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #999;
  width: 44px;
  height: 230px;
}
.Home .social_media ul li {
  list-style: none;
}
.Home .social_media ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.Home .social_media ul li a i {
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 100%;
}
.Home .social_media ul li a:hover .fa-discord {
  color: #5562ea;
  background-color: #fff;
}
.Home .social_media ul li a:hover .fa-instagram {
  color: #fff;
  background: linear-gradient(to bottom, #aa2fb5 0%, #ee7a12 93%);
}
.Home .social_media ul li a:hover .fa-telegram-plane {
  color: #fff;
  background-color: #27a3e2;
}
.Home .social_media ul li a:hover .fa-facebook-f {
  color: #fff;
  background-color: #27a3e2;
}
.Home .social_media ul li a:hover .fa-linkedin-in {
  color: #fff;
  background-color: #0077b5;
}
.Home article {
  position: relative;
  padding: 0 0 10%;
}
.Home article .left_article figure {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}
.Home article .left_article figure > img {
  position: absolute;
  top: 2%;
  left: 51%;
  width: 92%;
  height: 75%;
  transform: translateX(-50%);
}
.Home article .left_article figure .banner_img img {
  background: url(<path-to-image>), lightgray -88.561px -36.814px/209.086% 105.853% no-repeat;
  mix-blend-mode: luminosity;
  width: 477px;
  height: 629px;
  position: relative;
  z-index: 1;
}
.Home article .left_article figure .icon i {
  width: 45px;
  height: 45px;
  font-size: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home article .left_article figure .icon i:nth-child(1) {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: -5%;
  right: inherit;
  bottom: inherit;
  background: #000f17;
  color: #e5532d;
  border: 2px solid #e5532d;
}
.Home article .left_article figure .icon i:nth-child(2) {
  position: absolute;
  z-index: 1;
  top: -10%;
  left: 35%;
  right: inherit;
  bottom: inherit;
  background: #000f17;
  color: #2899f3;
  border: 2px solid #2899f3;
}
.Home article .left_article figure .icon i:nth-child(3) {
  position: absolute;
  z-index: 1;
  top: -10%;
  left: inherit;
  right: -10%;
  bottom: inherit;
  background: #000f17;
  color: #ffe008;
  border: 2px solid #ffe008;
}
.Home article .left_article figure .icon i:nth-child(4) {
  position: absolute;
  z-index: 1;
  top: 7%;
  left: inherit;
  right: 10%;
  bottom: inherit;
  background: #000f17;
  color: #ce6b9c;
  border: 2px solid #ce6b9c;
  transform: rotate(23deg);
  font-size: 30px;
}
.Home article .left_article figure .icon img:nth-child(5) {
  position: absolute;
  top: 20%;
  right: -5%;
  width: 45px;
  height: 45px;
  z-index: 1;
}
.Home article .left_article figure .icon img:nth-child(6) {
  position: absolute;
  top: 7%;
  left: 10%;
  width: 45px;
  height: 45px;
  transform: rotate(340deg);
  z-index: 1;
}
.Home article .left_article figure .icon img:nth-child(7) {
  position: absolute;
  top: -15%;
  right: 15%;
  width: 7px;
  height: 154px;
  transform: rotate(1deg);
  z-index: 0;
}
.Home article .left_article figure .icon img:nth-child(8) {
  position: absolute;
  bottom: -5%;
  right: -8%;
  width: 138px;
  height: 144px;
  z-index: 0;
}
.Home article .left_article figure .icon img:nth-child(9) {
  position: absolute;
  top: 50%;
  right: -23%;
  transform: translateY(-50%);
  width: 138px;
  height: 144px;
  z-index: 0;
}
.Home article .right_article header {
  position: relative;
  margin-bottom: 32px;
}
.Home article .right_article header h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 126px;
  margin-bottom: 0;
}
.Home article .right_article header img:nth-child(2) {
  position: absolute;
  width: 10px;
  height: 200px;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
  bottom: 10%;
  left: 0;
}
.Home article .right_article header img:nth-child(3) {
  position: absolute;
  width: 95.705px;
  height: 93px;
  right: -11%;
  top: 10%;
}
.Home article .right_article figure p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 0;
  color: #999;
  margin-bottom: 36px;
}
.Home article .right_article figure button {
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 10px 35px;
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  line-height: 39px;
}
.Home .dashboard {
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 0;
  transform: translateY(45%);
  background: #819098;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
}
.Home .dashboard .dashboard_item {
  width: 100%;
}
.Home .dashboard .dashboard_item .dashboard_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Home .dashboard .dashboard_item .dashboard_icon img {
  width: 70px;
  height: 70px;
}
.Home .dashboard .dashboard_item .dashboard_icon h1 {
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
.Home .dashboard .dashboard_item .dashboard_icon h2 {
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.Service {
  background: #002531;
  padding: 10% 0 5%;
  position: relative;
}
.Service > img {
  position: absolute;
  top: -10%;
  right: 10%;
  bottom: inherit;
  left: inherit;
  width: 7px;
  height: 154px;
  transform: translate(0%, 0%) rotate(0deg);
  transform-origin: 0 0;
}
.Service > img:nth-child(2) {
  top: -10%;
  right: 10.2%;
  bottom: inherit;
  left: inherit;
}
.Service .left_article header h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 0;
  margin-bottom: 5px;
}
.Service .left_article figure {
  margin-bottom: 0;
}
.Service .left_article figure p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  color: #999;
  margin-bottom: 20px;
  padding-right: 23%;
}
.Service .left_article figure button {
  font-family: "Cabin", sans-serif;
  border: none;
  background-color: #ee7a12;
  padding: 12px 55px;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  line-height: 33px;
}
.Service .right_article .area {
  position: relative;
}
.Service .right_article .area::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 75%;
  background-color: #ee7a12;
}
.Service .right_article .area .web {
  position: relative;
}
.Service .right_article .area .web::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ee7a12;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.Service .right_article .area .web:nth-child(even)::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-top: 3px solid #ee7a12;
  border-left: 3px solid #ee7a12;
  top: 50%;
  left: -8%;
  transform: rotate(324deg) translateY(-50%);
}
.Service .right_article .area .web:nth-child(even)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  border-top: 3px solid #ee7a12;
  border-left: 3px solid #ee7a12;
  top: 50%;
  left: -9%;
  border-radius: 3px;
}
.Service .right_article .area .web:nth-child(even) figure {
  background-color: #819098;
}
.Service .right_article .area .web figure {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  margin-left: auto;
  background-color: #ee7a12;
  width: 65%;
  height: 90px;
  margin-bottom: 32px;
}
.Service .right_article .area .web figure img {
  width: 40px;
  height: 40px;
  margin: 0 50px;
}
.Service .right_article .area .web figure h2 {
  margin-bottom: 0;
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}

.Service2 {
  background: #000f17;
  position: relative;
}
.Service2 > img {
  position: absolute;
  top: 50%;
  right: inherit;
  bottom: inherit;
  left: -1%;
  width: 7px;
  height: 154px;
  transform: translate(0, -50%) rotate(90deg);
  transform-origin: 100% 100%;
}
.Service2 > img:nth-child(2) {
  top: 50.5%;
  right: inherit;
  bottom: inherit;
  left: -1%;
}
.Service2 header {
  padding-top: 6%;
  text-align: center;
}
.Service2 header h1 {
  font-family: "bon_foyage_demo";
  color: #fff;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 0;
}
.Service2 header P {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  color: #999;
  padding: 0 28%;
  margin-bottom: 7%;
}
.Service2 figure {
  position: relative;
}
.Service2 figure::before {
  content: "";
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -7%);
  width: 2px;
  height: 70%;
  background: repeating-linear-gradient(#999, #999 15px, transparent 15px, transparent 25px);
}
.Service2 figure .figure_left {
  text-align: end;
}
.Service2 figure .figure_left .experience {
  padding-right: 18%;
  position: relative;
  height: 200px;
}
.Service2 figure .figure_left .experience::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 4px dashed #999;
  top: 0%;
  right: 0;
  transform: translate(50%, 0%);
  background: radial-gradient(#999 0%, #999 40%, transparent 42%, transparent 100%);
}
.Service2 figure .figure_left .experience h2 {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 0;
  margin-bottom: 8px;
}
.Service2 figure .figure_left .experience p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
  color: #999;
}
.Service2 figure .figure_right {
  text-align: start;
}
.Service2 figure .figure_right .experience {
  padding-left: 18%;
  padding-right: 0;
  position: relative;
}
.Service2 figure .figure_right .experience p {
  padding: 0 40% 0 0px;
}
.Service2 figure .figure_right .experience::before {
  content: "";
  position: absolute;
  display: none;
}
.Service2 figure .figure_right .experience::after {
  content: "";
  position: absolute;
  display: none;
}/*# sourceMappingURL=style.css.map */